@import './variables';

@mixin centerElements{
    display: grid;
    place-items: center;
}

@mixin flex($direction: 'row', $alignItems: 'flex-start', $justifyContent: 'flex-start'){
    display: flex;
    flex-direction: $direction;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin border($color: $orange){
    border: 2px solid $color;
}