@import '../utils/variables';
@import '../utils/mixins';

header{
    width: 100vw;
    height: 80px;
    max-width: 1600px;
    background-color: $offWhite;
    padding: 0 4rem;
    @include row(center, space-between);
}
