@import '../partials/variables';

@media (max-width: 768px) {
    .calorie-dense-foods {
        width: 365px;
        padding: 2.5rem 1rem;

        h2 {
            font-size: $mobileHeading;
            margin-bottom: 1.25rem;
        }

        table {
            font-size: 10px;

            thead,
            tbody {
                tr {
                    td {
                        padding: .25rem .5rem;
                    }
                }
            }
        }

        .scroll-ref {
            top: -35px;
        }
    }
}