@import '../partials/variables';
@import '../partials/mixins';

.healthy-foods {
    width: 100%;
    max-width: 1350px;
    padding: 4rem 2rem;

    h2 {
        text-align: center;
        color: $black;
        font-size: $desktopHeading;
        font-family: $raleway;
        margin-bottom: 3rem;
        font-weight: 800;
        letter-spacing: 1.5px;

        span {
            color: $orange;
        }
    }

    .food-items {
        @include flex(row, center, space-evenly);
        flex-wrap: wrap;

        .food-item {
            position: relative;
            cursor: pointer;
            @include centerElements;
            @include dropDownShadow;
            width: 195px;
            height: 70px;
            margin: 1rem;
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: all .15s ease;

            p {
                color: #fff;
                font-family: $poppins;
                font-size: 20px;
                font-weight: 600;
                z-index: 2;
                text-shadow: -3px 3px 10px rgba(38, 38, 38, 0.5);
            }

            .overlay {
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 106, 62, 0.6);
                z-index: 1;
                border-radius: 15px;
            }
        }

        .food-item:hover {
            transform: scale(1.02);
            @include dropDownShadowHover;
        }
    }
}