@import '../partials/variables';
@import '../partials/mixins';

@keyframes fadeOut{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

.loading-screen{
    position: absolute;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    @include centerElements;
    background-color: $offWhite;
    animation: fadeOut .2s linear 1.3s forwards;

    h1{
        font-family: $courgette;
        color: $orange;
        letter-spacing: 2px;
    }
}