@import '../partials/variables';

@media (min-width: 769px) and (max-width: 1024px) {
    .foods-calories {
        padding: 3rem 2rem;

        h2 {
            font-size: $tabletHeading;
            margin-bottom: 1.5rem;
        }

        table {
            font-size: 14px;

            thead,
            tbody {
                tr {
                    td:nth-child(1) {
                        width: 230px;
                    }

                    td:nth-child(2) {
                        width: 130px;
                    }

                    td {
                        padding: .5rem 1rem;
                    }
                }
            }

            .category-row {
                td {
                    padding-top: 1.5rem;
                }
            }
        }

        .scroll-ref {
            top: -45px;
        }
    }
}